// styling for first description block 
#description-block-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;

  div {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    width: 50%;
    top: 50em;
    margin: 17% 8%;
    font-family: 'Amiri';
    font-size: 1.5em;
    overflow: hidden;

    h2 {
      margin-bottom: 45px;
      font-size: 55px;
    }
  }

  #img1 {
    width: 25%;
    position: relative;
    bottom: 8em;
    overflow: hidden;
  }

  #img2 {
    height: 40%;
    width: 40%;
    position: relative;
    z-index: -1;
    right: 6em;
    top: 2em;
    overflow: hidden;
  }
}

// styling for content advertisement 
#description-block-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 22% auto;

  #inner-container-3 {
    display: flex;
    gap: 8rem;


    #img3 {
      height: 25rem;
      width: 35rem;
      object-fit: cover;
      position: relative;
      overflow: hidden;
    }

    div {
      width: 35rem;
      color: white;
      font-size: 28px;
      margin-top: 1rem;
      

      #small-quote-3 {
        font-size: 55px;
        font-weight: bold;
      }

      #small-paragraph-3 {
        margin-top: 2rem;
      }
    }
  }

  #inner-container-4 {
    margin-top: 10rem;
    display: flex;
    gap: 8rem;


    #img4 {
      height: 25rem;
      width: 35rem;
      object-fit: cover;
      position: relative;
      overflow: hidden;
    }

    div {
      width: 35rem;
      color: white;
      font-size: 28px;
      margin-top: 1rem;
      

      #small-paragraph-4 {
        margin-top: 2rem;
      }
      
      #small-quote-4 {
        font-size: 55px;
        font-weight: bold;
      }

    }
  }
}

// styling of image display
.awssld {
  --content-background-color:none !important;
  --organic-arrow-color: rgb(255, 255, 255) !important;;

  margin: 17% 0 10% 0;
  top: -100px;
}

.awssld__bullets {
  top: 650px;
}

.item {

  .block-3-img {
    border: rgb(92, 92, 92) 5px solid;
    width: 50vw;
  }
}