

#sell-alert-container {
  position: absolute;
  z-index: 1;
  height: 30%;
  width: 25%;
  top: 30vh;
  left: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(51, 51, 51, 0.808);
  border-radius: 24px;
  border: 5px rgb(156, 32, 32) solid;
  padding: 0.5em;

  div {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    color: white;

    #container-icon {
      font-size: 30px;

      &:hover {
        color: rgb(0, 0, 0);
        cursor: pointer;
      }
    }
  }
  h2 {
    padding: 0.8em 0 3em 0;
    text-align: center;
    color: rgb(212, 212, 212);
  }

}