#portfolio-inner-container {
  height: 90%;
  width: 90%;
  margin: auto;

  #search-box {
    height: 50%;
    width: 100%;
    border-radius: 24px;
    box-shadow: 0px 5px 10px 0px rgba(100, 100, 100, 0.5);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    .stock-chart {
      width: 60%;

      .stock-search-box {
        width: 100%;
        height: 12%;
        display: flex;

        input {
          width: 90%;
          height: 100%;
          border-radius: 24px 0 0 0;
          border: none;
          padding-left: 2em;
          background-color: rgb(34, 34, 34) !important;
          font-size: 18px;
          font-family: "amiri";
          font-weight: 600;
          color: white;
        }

        input::placeholder {
          color: white;
        }

        button {
          width: 10%;
          height: 100%;
          border: none;
          background-color: rgb(34, 34, 34);
          color: white;
          font-size: 18px;
          font-family: "amiri";
          font-weight: 600;

          .search-icon {
            background-color: rgb(82, 82, 82);
            padding: 0.4em;
            border-radius: 50px;

            &:hover {
              background-color: grey;
              cursor: pointer;
            }
          }
        }
      }

      #stock-chart-container {
        width: 100%;
        height: 88%;
        padding: 0 1em 1em 1em;
      }
    }

    .stock-details-container {
      position: relative;
      width: 40%;
      background-color: #ffffff;
      border-radius: 0 24px 24px 0;
      border-left: 5px rgba(128, 128, 128, 0.445) solid;
      display: flex;
      flex-direction: column;

      .detail-title {
        height: 12%;
        background-color: rgb(34, 34, 34);
        color: white;
        border-radius: 0 24px 0 0;
        text-align: center;
        padding: 0.5em;
        font-size: 20px;
        text-decoration: underline;
      }

      .stock-details {
        background-color: #ffffff;
        height: 88%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        min-width: 400px;
        max-width: 800px;
        padding: 0.5em 0;

        .info-block {
          color: rgb(0, 0, 0);
          margin: 1rem 2rem;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;

          h5 {
            font-weight: 900;
            margin-bottom: 0px;
            font-size: 1em;
            text-decoration: underline;
          }

          p {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 1em;
          }
        }
      }

      #buy-sell-container {
        margin-bottom: 10px;

        form {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-bottom: 5px;

          input {
            padding: 0.3em 1em;
            border-radius: 12px;
            width: 30%;
            font-family: 'amiri';
            font-weight: 600;
            font-size: 15px;

          }


          .buy-button {
            text-align: center;
            background-color: rgb(138, 255, 138);
            padding: 0.5em;
            margin: 0 1em;
            width: 15%;
            border: none;
            border-radius: 12px;
            font-family: 'amiri';
            font-weight: 600;
            color: rgb(43, 43, 43);

            &:hover {
              background-color: rgb(107, 207, 107);
              position: relative;
              top: -3px;
              cursor: pointer;
            }

          }

          .sell-button {
            text-align: center;
            background-color: rgb(255, 138, 138);
            padding: 0.5em;
            margin: 0 1em;
            width: 15%;
            border: none;
            border-radius: 12px;
            font-family: 'amiri';
            font-weight: 600;
            color: rgb(43, 43, 43);

            &:hover {
              background-color: rgb(199, 103, 103);
              position: relative;
              top: -3px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  #portfolio-change-container {
    height: 45%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

    #protfolio-change-graph {
      width: 60%;
      border-radius: 24px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 7px 10px 0px rgba(100, 100, 100, 0.5);

      .portfolio-chart {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        span {
          width: 100%;
          background-color: rgb(34, 34, 34);
          ;
          border-radius: 24px 24px 0 0;
          text-align: center;
          color: white;
          font-size: 18px;
          padding: 8px 0;
        }

        canvas {
          padding: 0 1em 2.5rem 1em;
        }
      }
    }

    #protfolio-change-chart {
      width: 35%;
      border-radius: 24px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 7px 10px 0px rgba(100, 100, 100, 0.5);


      .pie-chart {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        padding-bottom: 2em;


        .asset-title {
          background-color: rgb(34, 34, 34);
          color: white;
          text-align: center;
          font-size: 19px;
          padding: 8px 0 8px 0;
          border-radius: 24px 24px 0 0;
        }

        canvas {
          padding-bottom: 10px;
        }
      }
    }
  }
}