footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 18vh;
  background-color: rgba(8, 8, 8, 0.964);
  color: white;
  font-family: 'Amiri';


  #footer-title {
    font-weight: bold;
    font-size: 2.5em;
    // margin-top: 1rem;
    
  }

  #footer-copyright {
    font-size: smaller; 
    margin-top: 0.5rem;
  }

  #footer-links {
    display: flex;
    justify-content: center;
    width: 30%;
    font-size: larger;
    margin-top: 0.5em;

    .footer-links-item {
      text-decoration: none;
      color: white;
      margin: 0 1rem;
      text-align: center;
    }
  }
}
